@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Poppins:wght@500;700&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* border: solid; */
    outline: none;
    scroll-behavior: smooth ;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:2rem 10%;
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-weight: bold;
    /* font-size: 10px; */

}

.logo {
    font-size: 2.5rem;
    color: black;
    font-weight: 600;
}

.navbar a{
    font-size: 1.7rem; 
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    /* display: flex;
    justify-content: space-between;
    /* column-gap: 10px; */
    /* width: 40%; */
} 

.navbar a:hover
{
    /* color: var(--main-color); */
    color: black;
}


#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

  

                          /* Home Page  CSS */

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
}


.home-content{
    max-width: 60rem;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
}

.home-content .text-animate{
     position: relative;
     width: 45.8rem;
}

.home-content .text-animate h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke:  .7px var(--main-color);
}


.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
    margin-top: 10px;
}

.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    font-weight: 600;
    font-size: 1.8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}


.btn-box .btn:hover{
    color: red;

}

.home-link{
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-link a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-link a:hover{
    color: red;
}


.home-image{
    width: 350px;
    display: -webkit-box;
    margin-left: 10%;
    margin-top: 10%;
}

#pic{
   margin-left: 25%;
   width: 110%;
   margin-top: 10%;
}







                        /* About Me CSS */


.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--bg-color);
    padding-bottom: 6rem;
    /* background-image: url('images/about_me.jpg');
    background-size: 110rem;
    background-position-x: 128rem;
    background-position-y: 137rem; */
    
}

.heading{
    font-size: 6rem;
    margin-bottom: 8rem;
    text-align: center;
    /* color: rgb(209, 206, 206); */
    color: var(--main-color);
    margin-top: -2%;
}

.about-content{
    text-align: center;
}

.about-content p{
    font-size: 2rem;
    margin: 2rem 0 3rem;
    color: wheat;
    word-spacing: 0.5rem;
}







             /* Education Page CSS  */



.education h2{
    /* color: rgb(209, 206, 206); */
    font-size: 6rem;
    margin-top: -2%;
    color: var(--main-color);
    
}

.education-box{
    width: 60%;
    margin-left: -12px;
    margin-top: 10%;
}

.education-degree h3{
    font-size: 4rem;
    font-weight: bold;
    color: var(--main-color);
}

.college-link a{
    font-size: 2.5rem;
    color: lightskyblue;
}

.education-content{
    padding: 1rem;
}

.education-content li{
    font-size: 2rem;
    color: wheat;
}

.college-pic{
    width: 450px;
    display: -webkit-box;
    margin-left: 65%;
    margin-top: -20%;
    
}

#picture{
    width: 100%;
    margin-top: -5%;
}






       /* Skill Page CSS */


.skill {
    background-color: var(--bg-color);
    padding: 6rem 9%;
}

.skill h2 {
    margin-top: 2%;
}
.heading h2 {
    text-align: center;
    font-size: 4rem;
    color: var(--main-color);
} 

/* .heading span {
    color: var(--main-color);
} */

.skill-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2.5rem;
    margin-top: -2%;
}

.skill-card {
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 1.5rem;
    padding: 2rem;
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--main-color);
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.skill-card span {
    display: block;
    margin-top: 0.8rem;
    font-size: 1.6rem;
    font-weight: normal;
    color: var(--text-color);
}

/* Hover Effect */
.skill-card:hover {
    transform: translateY(-8px) scale(1.03);
    background-color: var(--main-color);
    color: var(--bg-color);
}

.skill-card:hover span {
    color: var(--bg-color);
}




     

       /* Project Page CSS  */

    
.my-project{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: start;
    justify-items: start;
    column-gap: 4%;
    margin-top: -3%;
}

.project-list{
    display: grid;
    row-gap: 20%;
}

.project-list button{
    background-color: var(--main-color);
    font-weight: bold;
    font-size: 2rem;
    border:none;
    padding: 4%;
}

.project-list button:hover{
     color: red;
}

.first-proj-button{
    grid-column: 1;
    grid-row: 1;
}

.second-proj-button{
    grid-column: 1;
    grid-row: 2;
}

.third-proj-button{
    grid-column: 1;
    grid-row: 3;
}

.project-content{
    display: grid;
}

.first-proj-file{
    grid-column: 2;
    grid-row: 1;
    margin-top: -2%;
}

.first-proj-name{
    color: var(--main-color);
    font-size: 3.5rem;
    font-weight: bold;
    
}

.first-time-spent{
    color: lightskyblue;
    font-size: 2rem;
    margin-left: 65%;
    margin-top: -4.5%;
}

.first-proj-info{
    color: wheat;
    font-size: 2rem;
    margin-top: 2%;
}

.second-proj-file{
    grid-column: 2;
    grid-row: 2;
    margin-top: -2%;
}

.second-proj-name{
    color: var(--main-color);
    font-size: 3.5rem;
    font-weight: bold;
}

.second-time-spent{
    color: lightskyblue;
    font-size: 2rem;
    margin-left: 65%;
    margin-top: -4.5%;
}

.second-proj-info{
    color: wheat;
    font-size: 2rem;
    margin-top: 2%;
}

.third-proj-file{
    grid-column: 2;
    grid-row: 3;
    margin-top: -2%;
    
}

.third-proj-name{
    color: var(--main-color);
    font-size: 3.5rem;
    font-weight: bold;
}

.third-time-spent{
    color: lightskyblue;
    font-size: 2rem;
    margin-left: 65%;
    margin-top: -4.5%;
}

.third-proj-info{
    color: wheat;
    font-size: 2rem;
    margin-top: 2%;
}





         /* Experience  Page CSS  */

        
.first-experience{
    font-size: 4rem;
    font-weight: bold;
    color: var(--main-color);
}

.company-link a{
    font-size: 2.5rem;
    color: lightskyblue;
}

.experience-box{
    margin-top: -4%;
    margin-right: 8%;
    margin-left: -3%;
}

.experience-content{
    font-size: 2rem;
    color: wheat;
    margin-top:3%;
}

.company-link h3{
    font-size: 2.5rem;
    color: lightskyblue;
    margin-left: 65%;
    margin-top: -4%;
}







           /* Contact Page CSS  */



.contact {
    padding-bottom: 10%;
  }
  
.contact p {
    
    text-align: center;
    margin-top: -2%;
    font-size: 2.5rem;
    color: wheat;
  }
  
  .contact form {
    padding: 12px;
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: var(--main-color);
    flex-wrap: wrap;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 20px;
  }
  
  .contact input {
    border: none;
    background-color: var(--bg-color);
    margin-bottom: 15px;
    color:wheat;
  }
  
  .contact textarea {
    border: none;
    color: black;
    margin-bottom: 19px;
    background-color: lightskyblue;
    resize: none;
    padding: 5px;
  }
  
  textarea:focus {
    outline: none;
  }
  
  input:focus {
    outline: none;
  }
  
  .contact_form form button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: var(--main-color);
    outline: invert;
    border-radius: 10px;
    background:var(--main-color);
    color: #fff;
    font-weight: bold;
}

.contact_form form button:hover {
    color: black;
}



                    /* RESPONSIVE  */


@media (max-width: 1300px){
    /* html{
        font-size: 60%;
    } */

    .education h2{
        /* font-size: 5rem; */
        margin-top: -2%;
    }

    .education-box{
          margin-top: -7%;
    }
    
    #picture{
        margin-top: -9%;
        width: 90%;
    }

    .skill h2{
        margin-top: -4%;
    }

    .skill-content{
        margin-top: -8%;
    }

    .progress{
        margin-top: -5%;
    }

    .project h2{
        margin-top: -4%;
    }

    .my-project{
        margin-top: -7%;
        margin-right: -4%;
        margin-left: -4%;
        padding-right: 12%;
    }


    .project-content{
       margin-right: -20%;
    }

    .first-proj-file h3{
             font-size: 3rem;
    }

    .first-time-spent{
        font-size: 1.5rem;
    }

    

}